font-family: 'Oswald', sans-serif;
*{
    padding: 0px;
    margin: 0px;
}
body{
    background: url(bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    
    
}
.container{
    margin: 20% auto ;
    width: 600px;
}
.signup-section{
    background-color: palevioletred;
    padding: 40px 0px;
    border-radius: 24px;
}

.signup-section h1{
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
}
.signup-section h5{
    text-align: center;
    margin-bottom: 10px;
}
.form-control{
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
    height: 24px;
    padding: 7px;
    border-radius: 24px;
    outline: none;
}
.form-control:hover{
    border: 2px solid #45D4FF;
}
.btn{
    width: 25%;
    height: 30px;
    margin: 15px auto 0px auto;
    display: block;
    border-radius: 24px;
    text-transform: uppercase;
    outline: none;
}
.btn:hover{
    border: 2px solid #45D4FF;
}
.login-link{
    margin-top: 20px;
    text-align: center;
    display: block;
    color: black;
}
.login-link a{
 color: white;
}
.login-link a:hover{
 color: gray;
}
